body{
    background: black;
}

h1 {
    color: red;
}

p { 
    color: rgb(248, 15, 15);
    text-align: center;
}


#lema { 
   font: size 25px;
   color: black; 
}

.beneficios {
     background-color: rgb 
}